﻿@model Shops.Models.ScheduleViewModel

@{
    ViewBag.Title = "Schedules";
}

@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>Channel</td>
            <td>@Html.DropDownList("channelFilter", new SelectList(ViewBag.ChannelList))</td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Refresh" />
            </td>
        </tr>
    </table>
}


<table>
    <tr>
        <th>
        </th>
        <th>
        </th>
    </tr>

    @foreach (var item in Model.schedules)
    {
    <tr>
        <td style="vertical-align:top">
            @item.start.ToString("yyyy-MM-dd HH:mm")<br />
        </td>
        <td style="vertical-align:top">
            @Html.DisplayFor(modelItem => item.channel)
        </td>
        <td style="vertical-align:top">
            <b>@Html.DisplayFor(modelItem => item.title)</b><br />
            @Html.DisplayFor(modelItem => item.epTitle)<br />
            @Html.DisplayFor(modelItem => item.yr)
        </td>
        <td style="vertical-align:top">
            @Html.DisplayFor(modelItem => item.desc)
        </td>
    </tr>
    }
</table>
<div id="broadcasts"></div>
<p>
    @if (@User.Identity.Name == "administrator")
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>


